@import './variables';
@import './resets';

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

* {
    font-family: 'Roboto', sans-serif;
}

header {
    width: $mobile-content-width;
    max-width: $mobile-content-width ;
    text-transform: uppercase;
}

.title {
    display: inline-block;
}

.logo {
    display: inline-block;
    height: 1.5rem;
    float: right;
    margin-top: 7px;
}

.todo-app {
    @include flexCenter($direction:column);
    max-width: $mobile-content-width
}

.todo-app .todo-box {
    background: $primary-color; /*add to mixin later*/
    color: $text-color; /*add to mixin later*/
    width: 100%;
    height: 50px;
    text-align: left;
    border-radius: $border-radius;
    margin: 2px;
    padding: 15px;
};

@media (min-width: 570px){
    header {
        width: $desktop-content-width;
        max-width: $desktop-content-width;
    }
    
    .todo-app {
        width: $desktop-content-width;
        max-width: $desktop-content-width;
    }
}